<style>
	.text-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}


.containers {

    position: relative;
    width: 300px; /* Example width */
    border: 1px solid #000; /* For visualization */
}
</style>

{% extends "base.html" %}
{% block title %}Confirmation Page{% endblock %}

{% block content %}
<head>
    <!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<!--===============================================================================================-->
</head>

<div>
<h1 style="text-align: center;">
	Thank you for ordering with us!<br>
	Here is your order summary</h1></div>

<div class="containers" style="text-align: center; margin-top: 5%">
	<h1>for {{ name }} </h1>
	<p>delivery address: <br>
	{{ address }}
	<span class="small"> {{ zip }} </span></p>
	<p class="text-bottom-right"> Total: ${{ price }}</p>

</div>


<div class="container-contact1-form-btn" style="text-align: center; margin-top: 10%;">
	<button class="contact1-form-btn" onclick="window.location.href='/';">
		<span>
			Return to Homepage
			<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
		</span>
	</button>
</div>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/tilt/tilt.jquery.min.js')}}"></script>
{% endblock %}