{% extends "base.html" %} {% block title %}Eco-Eats Delete Account{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Delete Account</h1>
        </div>
        <div class="card-body">
            <h3 class="mb-4">Account Details</h3>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p>By choosing to delete your account, all the posts, comments and likes associated with your account will be deleted.</p>
            <div class="text-center">
                <button class="btn btn-danger w-100" onclick="confirmDelete()">Delete Account</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}