{% extends "base.html" %} {% block title %}Eco-Eats Reset Password{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('auth.reset_password_request') }}">
    <h1 align="center">Forgot Password?</h1>
    <br>
    <h5>Please enter the email address associated with your Eco-Eats account.</h5>
    <br>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}