{% extends "base.html" %}
{% block title %}Eco-Eats (Staff) User Preferences{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">User Preferences</h1>
    <p class="lead">Total Users: {{ users|length }}</p>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#TopIngredients">Top Ingredients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#TopCuisines">Top Cuisines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#DietaryRestrictions">Dietary Restrictions</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane container-fluid active" id="TopIngredients">
        <canvas id="topIngredientsChart" style="width:100%; max-width:900px"></canvas>
    </div>
    <div class="tab-pane container-fluid" id="TopCuisines">
        <canvas id="topCuisinesChart" style="width:100%; max-width:900px"></canvas>
    </div>
    <div class="tab-pane container-fluid" id="DietaryRestrictions">
        <canvas id="dietaryRestrictionsChart" style="width:100%; max-width:900px"></canvas>
    </div>
</div>

<script>
const topIngredientsData = {{ topIngredientsData|safe }};
const topCuisinesData = {{ topCuisinesData|safe }};
const dietaryRestrictionsData = {{ dietaryRestrictionsData|safe }};
let barColors = "blue";

function createBarChart(canvasId, labels, data, title) {
    new Chart(canvasId, {
        type: "bar",
        data: {
            labels: labels,
            datasets: [{
                backgroundColor: barColors,
                data: data
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: title
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 1 // Ensure y-axis starts at 0 and has steps of 1
                    }
                }]
            }
        }
    });
}


createBarChart("topIngredientsChart", topIngredientsData.labels, topIngredientsData.values, "Top Ingredients");
createBarChart("topCuisinesChart", topCuisinesData.labels, topCuisinesData.values, "Top Cuisines");
createBarChart("dietaryRestrictionsChart", dietaryRestrictionsData.labels, dietaryRestrictionsData.values, "Dietary Restrictions");
</script>
<!---ignore this comment--->

{% endblock %}

